.books {
    text-align: center;
    display: block;
    position: relative;
    border: 5px double white;
    margin-left: auto;
    height: 600px;
    width: 300px;
    overflow: scroll;
}

.booksheader {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 5px double white;
}

.card {
    height: 120px;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

.cover {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
}