.books {
    text-align: center;
    float: right;
    height: 600px;
    width: 300px;
    overflow: scroll;
    scrollbar-width: none;
    border: 5px double white;
}

.booksheader {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 5px double white;
}

.card {
    height: 140px;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    /*border: var(--border);*/
}

.cover {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
}

.subtitle, .year {
    font-size: 8.5px;
}