/*.books {
    opacity: 0;
    text-align: center;
    float: right;
    height: 600px;
    width: 300px;
    overflow: scroll;
    scrollbar-width: none;
    border: 5px double white;
    transform: translateX(100%);
    animation: fadeInFromRight 0.6s ease-out forwards;
}

.booksheader {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 5px double white;
}

.card {
    height: 140px;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

.cover {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
}

.subtitle, .year {
    font-size: 8.5px;
}

@keyframes fadeInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }*/